@model IEnumerable<Volunteering.Models.Kategorija>
@{
    ViewBag.Title = "Aktivizam";
}

<br />
<br />
<div class="breadcrumb" style="font-size:20px; border:solid; background-color:azure; border-color:white">
    @Html.ActionLink("Home", "Index", "Home")
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
    }
</div>
<br />

<div class="container" style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <h1 style="color: Highlight; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px;">АКТИВИЗАМ</h1>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/6">
                <img src="https://volontiraj.mk/images/organisations/megjashi.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px;  ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/7">
                <img src="http://www.invivo.mk/content/logofull1.png" alt="Snow" style="background-color: white; height: 240px; width: 273px; border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/8">
                <img src="https://volontiraj.mk/images/organisations/kreaktiv.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/9">
                <img src="https://volontiraj.mk/images/organisations/natochak.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/10">
                <img src="https://volontiraj.mk/images/organisations/krik.jpg" alt="Snow" style="background-color:white;height: 240px; width: 273px; border-radius: 10px; ">

            </a>
        </div>
        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/11">
                <img src="https://volontiraj.mk/images/organisations/mof.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/12">
                <img src="https://volontiraj.mk/images/organisations/mladitemozat.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/13">
                <img src="https://volontiraj.mk/images/organisations/sekojstudent.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>


    </div>


</div>