@model IEnumerable<Volunteering.Models.Kategorija>

@{
    ViewBag.Title = "Ekologija";
}

<br />
<br />
<div class="breadcrumb" style="font-size:20px; border:solid; background-color:azure; border-color:white">
    @Html.ActionLink("Home", "Index", "Home")
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
    }
</div>
<br />


<div class="container" style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <h1 style="color: Highlight; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px;">Екологија</h1>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/1">
                <img src="https://volontiraj.mk/images/organisations/gogreen.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px;  ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/2">
                <img src="https://volontiraj.mk/images/organisations/ajdemakedonija.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/3">
                <img src="https://volontiraj.mk/images/organisations/nebidigjubre.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/38">
                <img src="https://volontiraj.mk/images/organisations/ekologic.jpg" alt="Snow" style="height: 240px; width: 273px; border-radius: 10px; ">

            </a>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/4">
                <img src="https://volontiraj.mk/images/organisations/eden.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/5">
                <img src="https://volontiraj.mk/images/organisations/ohridsos.jpg" alt="Snow" style="height: 240px; width: 273px; border-radius: 10px; ">

            </a>
        </div>
    </div>


    </div>