@model IEnumerable<Volunteering.Models.Kategorija>
@{
    ViewBag.Title = "ZashtitaNaZivotnite";
}

<br />
<br />
<div class="breadcrumb" style="font-size:20px; border:solid; background-color:azure; border-color:white">
    @Html.ActionLink("Home", "Index", "Home")
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
    }
</div>
<br />


<div class="container" style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <h1 style="color: Highlight; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px;">ЖИВОТНИ</h1>
    <br />
    <br />


    <div class="row">
        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/26">
                <img src="https://volontiraj.mk/images/organisations/animalmundi.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/27">
                <img src="https://volontiraj.mk/images/organisations/animalija.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>

        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/28">
                <img src="https://volontiraj.mk/images/organisations/kanekorzo.jpg" alt="Snow" style="height: 240px; width: 273px;  border-radius: 10px; ">

            </a>
        </div>
        <div class="col-xs-3">
            <a class="nb" href="~/Organizacijas/Details/29">
                <img src="https://m.mkd.mk/files/styles/statija/public/article/2020/12/30/mkd-493461.jpg?itok=UN0CrnMF" alt="Snow" style="background-color: white; height: 240px; width: 273px; border-radius: 10px; ">

            </a>
        </div>
    </div>
    <br />

</div>


